In [13]:
# Creating a list of dictionaries
list_of_orders = [
    {'name': 'John', 'main': 'rice', 'protein': 'ginger chicken','side1': 'seaweed'},
    {'name': 'Jane', 'main': 'noodles', 'protein': 'salmon','side1': 'miso soup'},
    {'name': 'Tom', 'main': 'salad', 'protein': 'tofu','side1': 'cucumber salad'}
]

# Printing the list of dictionaries
for person in list_of_orders:
    print(person)

{'name': 'John', 'main': 'rice', 'protein': 'ginger chicken', 'side1': 'seaweed'}
{'name': 'Jane', 'main': 'noodles', 'protein': 'salmon', 'side1': 'miso soup'}
{'name': 'Tom', 'main': 'salad', 'protein': 'tofu', 'side1': 'cucumber salad'}

In [1]:
import sqlite3

# Connect to the SQLite database
con = sqlite3.connect('python.db')

# List all tables in the database
tables = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table';", con)

# Print the list of tables
print(tables)

# Close the connection
con.close()

NameError: name 'pd' is not defined

In [3]:
import pandas as pd

In [5]:
import sqllite3

ModuleNotFoundError: No module named 'sqllite3'

In [7]:
import sqlite3

In [16]:
import sqlite3

# Connect to the SQLite database
con = sqlite3.connect('python.db')

In [20]:
import sqlite3
import pandas as pd

conn = sqlite3.Connection("data/python.db")

In [24]:
# Query to list all tables in the database
tables = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table';", con)

# Print the table names
print(tables)

ProgrammingError: Cannot operate on a closed database.

In [32]:
import sqlite3
import pandas as pd

conn = sqlite3.Connection("data/python.db")

In [34]:
tables = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table';", con)

# Print the table names
print(tables)

ProgrammingError: Cannot operate on a closed database.